---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: "neue-haas-unica", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;


// $color1: #8d8741;
// $color2: #659dbd;
// $color3: #daad86;
// $color4: #bc986a;
// $color5: #fbeec1;


$color1: #eae7dc;
$color2: #d8c3a5;
$color3: #8e8d8a;
$color4: #e98074;
$color5: #e85a4f;


$text-color: #111;
$background-color: #fdfdfd;
$brand-color: $color4;
$secondary-color: #c3e6ef;

$selection-color: #ffde16;
$sidebar-color: $background-color;
$sidebar-hover-color: $color4;
$nav-color: $background-color;

$code-color: $color5;

$grey-color: #424242;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;
$on-xs: 575.98px;
$on-sm: 767.98px;
$on-md: 991.98px;
$on-lg: 1199.98px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "fonts", "syntax-highlighting", "simple-sidebar", "pages";
