---
title: Home
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="d-flex" id="wrapper">
        {% include sidebar.html %}

        <!-- Page Content -->
        <div id="page-content-wrapper" class="home-image">

            <nav class="navbar sticky-top navbar-expand-lg home-nav-bg border-bottom">
                <button class="btn btn-brand" id="menu-toggle">
                    <i class="fas fa-bars"></i>
                </button>

                <a href="#" class="navbar-brand mb-0 h1 text-center mx-auto"></a>
            </nav>

            <div class="container">

                <article class="page home-page">
                    <h1 class="page-title" id="page-title">ECEn 625: Compilation Strategies for High-Performance Systems
                    </h1>
                    <div class="page-content">
                        <p>
                            As an undergrad, you learned how to design digital circuits, first by connecting simple
                            logic gates and flip-flops, and then by designing more complex circuits using a hardware
                            description
                            language (HDL), such as Verilog. This class is all about High-Level Synthesis (HLS), which
                            focuses on creating higher-level abstractions for digital design. Rather than describing
                            finite state machines and cycle-by-cyle circuit behavior using an HDL, HLS tools allow you
                            to describe your circuit behavior using software-like descriptions, typically using C, C++,
                            or
                            OpenCL.
                        </p>
                        <p style="text-align:center;">
                            <img src="media/hls.png" width="800">
                        </p>

                        <p>
                            In this class you will first learn the behind-the-scenes algorithms that make it possible to
                            create hardware from software, and then you will gain some experience using commerical HLS
                            tools. Along the way you will learn about software compilers and various optimizations that
                            allow us to create high-performance hardware designs.
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <!-- <img src="https://via.placeholder.com/750x600.png?text=Some+cool+and+inspiring+image"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- <div class="thanks">
                    <p>Special thanks to <a href="https://www.linkedin.com/in/lauren-lindsey-1a41821a3/"
                            target="_blank">Lauren
                            Lindsey</a> for all of the graphics and icons!</p>
                </div> -->
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include scripts.html %}

</body>

</html>