<!-- Sidebar -->
<div class="border-right sidebar-color" id="sidebar-wrapper">
    <div class="sidebar-sticky">
        <div class="sidebar-heading-big">
            <a href="{% link index.md %}">
                {{ site.class_number }}</a>
        </div>
        <!-- <div class="sidebar-heading">Pages</div> -->
        <div class="list-group list-group-flush sidebar-color">
            {% for item in site.pages %}
            {% if item.sidebar %}
            <a href="{% link {{ item.path }} %}"
                class="sidebar-color list-group-item list-group-item-action sidebar-item ">
                {% if item.icon %}
                <i class="{{ item.icon }}"></i>
                {% endif %}
                {{ item.title }}
            </a>
            {% endif %}
            {% endfor %}
            <a href="https://slack.com/app_redirect?team=T01J887F8MU&channel=C01JF1N6TH8"
                class="list-group-item list-group-item-action sidebar-item" target="_blank"><i
                    class="fa fa-question-circle"></i>
                Slack</a>
            <!-- <a href="https://learningsuite.byu.edu/.qD2F/cid-B84_MqETGWke/calendar"
                class="list-group-item list-group-item-action bg-light sidebar-item" target="_blank">
                <i class="far fa-calendar"></i>
                Schedule
            </a> -->
        </div>

        <div class="sidebar-heading">Labs</div>
        <div class="list-group list-group-flush">
            {% for item in site.labs %}
            <a href="{% link {{ item.path }} %}" class="list-group-item list-group-item-action bg-light sidebar-item">
                <span class="badge badge-pill badge-dark-grey">{{ item.number }}</span>
                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
            <a href="{% link _pages/final_project.md %}"
                class="list-group-item list-group-item-action bg-light sidebar-item">
                <i class="fa fa-microscope"></i>
                Final Project
            </a>
        </div>

        <div class="sidebar-heading">Documentation</div>

        <div class="list-group list-group-flush">
            {% for item in site.documentation %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-narrow list-group-item list-group-item-action bg-light sidebar-item">
                <!-- <span class="badge badge-pill badge-dark-grey">{{ item.number }}</span> -->
                {% for i in (1..{{item.indent}}) %}&emsp;{% endfor %}

                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
        </div>

        <!-- <div class="sidebar-heading">Homeworks</div>
        <div class="list-group list-group-flush">
            {% for item in site.homeworks %}
            <a href="{% link {{ item.path }} %}" class="list-group-item list-group-item-action bg-light sidebar-item">
                {% if item.icon %}
                <img src="{% link icon/{{ item.icon }} %}" alt="triangle with all three sides equal" height="20"
                    width="20" />
                {% endif %}
                {{ item.title }}
            </a>
            {% endfor %}
        </div> -->
    </div>
</div>
<!-- /#sidebar-wrapper -->