::selection {
    // background-color: rgba(237, 63, 149, .2);
    background-color: $selection-color;
}

.badge-dark-grey {
    border: solid 1.5px #495057;
}

h1 {
    padding-top: 20px;
}

h2 {
    margin-top: 30px;
}

h3 {
    text-transform: uppercase;
    color: gray;
    font-size: 1.3rem;
    margin-top: 25px;
}

h4 {
    font-size: 1.2rem;
}

.container {
    margin-bottom: 150px;
}

.navbar-nav {
    margin-left: 0;
}

ul li {
    margin-bottom: 8px;
}

.btn-brand {
    color: $brand-color !important;
    border-color: $brand-color;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
        background-color: $brand-color;
        color: white !important;
    }
}

.suggest-edits {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    // font-size: .8rem;
}

.page-title i {
    font-size: 1.8rem;
}

.page-title-bar {
    font-family: muli, sans-serif;
}

.lab-toc {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

    h4 {
        display: block;
        padding: 3px 15px;
        font-size: 11px;
        font-weight: bold;
        line-height: 20px;
        color: #999999;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 0px;
    }

    ul {
        margin-left: 15px;
    }

    li {
        display: block;
        font-size: 14px;
        margin-bottom: 0px;
    }

    a {
        text-decoration: none;
    }
}

.card-seperator {
    display: none;

    @media (max-width: 1000px) {
        display: block;
    }
}

.home-cards .col {
    margin-bottom: 30px;
}

.home-card {
    height: 100%;
    background-color: rgba(white, 0.8);
}

.firstcharacter {
    color: $brand-color;
    float: left;
    font-family: omnium, sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 3px;
}

table {
    margin: 20px;
}

td,
th {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    // background-color: rgba($selection-color, 0.2);
}

tr:hover {
    // background-color: #ddd;
    // background-color: rgba($sidebar-hover-color, 0.7);
}

th {
    min-width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba($secondary-color, 1);
    // background-color: rgba($brand-color, 0.7);
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
}

table {
    .section {
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
        text-transform: uppercase;
        color: gray;
        font-size: 1rem;
    }
}

.home-nav-bg {
    border-bottom: 0px !important;
}

.home-image {
    // background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 0%;
    background-image: url("../images/background.svg");
}

@include media-query($on-md) {
    .home-image {
        // background-position: 0% -40px;
        background-image: url("../images/background-medium.svg");
        padding-bottom: 450px;
    }
}

@include media-query($on-sm) {
    .home-image {
        background-image: url("../images/background-small.svg");
        padding-bottom: 250px;
    }
}

.home-icon {
    // background-size: contain;
    margin: 0 auto;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

.cloud-icon {
    background: url("../images/cloud-icon.svg") no-repeat center center;
}

.socket-icon {
    background: url("../images/socket-icon.svg") no-repeat center center;
}

.concurrency-icon {
    background: url("../images/concurrency-icon.svg") no-repeat center center;
}

.nodes-icon {
    background: url("../images/nodes-icon.svg") no-repeat center center;
}

.wireless-icon {
    background: url("../images/wireless-icon.svg") no-repeat center center;
}

.almost-hide {
    margin-top: 200px;

    span {
        color: rgba(0, 0, 0, 0);
    }

    ::selection {
        color: rgba(0, 0, 0, 0.1);
    }
}

.thanks {
    position: fixed;
    bottom: 0;
    right: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;

    a {
        opacity: 0.3;
    }
}

.card-deck .card {
    min-width: 220px;
    background-color: rgba($secondary-color, 0.5);
}

.lab {
    .fa-github {
        font-size: 1.3rem;
    }
}

.list-item-tall {
    padding-top: 12pt;
    padding-bottom: 12pt;
}

.list-item-normal {
    padding-top: 4pt;
    padding-bottom: 4pt;
}

.list-item-narrow {
    padding-top: 1pt;
    padding-bottom: 1pt;
}