<!DOCTYPE html>
<html lang="en">

<head>

  {% include head.html %}

</head>

<body>
  <div class="d-flex" id="wrapper">
    {% include sidebar.html %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar sticky-top navbar-expand-lg border-bottom">
        <button class="btn btn-brand" id="menu-toggle">
          <i class="fas fa-bars"></i>
        </button>

        <a href="#" class="navbar-brand mb-0 h1 page-title-bar text-center mx-auto" id="page-title-bar"></a>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-brand suggest-edits" target="_blank" rel="noopener noreferrer"
              href="https://github.com/byu-cpe/ecen427/issues/new?labels=website&title=Updates to {{page.title}} page"><i
                class="fab fa-github"></i> Suggest
              Edits</a>
          </li>
        </ul>
      </nav>

      <div class="container">
        {{ content }}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  {% include scripts.html %}

</body>

</html>