---
layout: default
---
<article class="page lab">
    <h1 class="page-title" id="page-title">
        {{ page.title }}
        {% if page.repo %}
        <a href="{{ page.repo }}" target="_blank"><i class="fab fa-github"></i></a>
        {% endif %}
    </h1>

    <div class="page-content">
        {% if page.toc %}
        <div class="lab-toc col-md-6 col-lg-5 bg-light">
            <h4>Table of Contents</h4>
            {% include toc.html html=content %}
        </div>
        {% endif %}

        {{ content }}
    </div>
</article>